body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

span{
    color: orange;
}

.top-section{
    display: flex;
    /* padding-bottom: 100px; */
}

.top-section h1{
    font-size: 50px;
}

.just-eat-healthy{
    margin-top: -30px;
}


.first-half-width{
    width: 50%;
}

.second-half-width{
    width: 50%;
}

.first-half-width{
    padding-left: 6%;
    /* padding-bottom: 500px;
    margin-bottom: 10%; */
    padding-bottom: 20%;
}

.second-half-width img{
    width: 90%;
    margin-top: 40px;
   
}

.adjust-height-h1{
    padding-top: 120px;
}

.top-section-link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 20px;
}

.top-section-p{
    margin-top: -12px;
    padding-bottom: 20px;
}

/* Middle Section CSS Code Starts From Here */

.middle-section{
    display: flex;
    /* background-image: url(images/shapes/Frame\ 1.png); */

    background-image: url(images/shapes/Frame\ 4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -80px;
    margin-bottom: 80px;
    
}

.middle-section-font-adjust{
    padding-top: 120px;
}

.third-half-width{
    width: 50%;
}

.third-half-width img{
    width: 70%;
    margin-top: 50px;
    margin-left: 25%;
}

.fourth-half-width{
    width: 50%;
    margin-left: 130px;
}
.fourth-half-width h1{
    font-size: 35px;
}

.fourth-half-width p{
    text-align: justify;
}

.middle-section-link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 16px 40px;
    border-radius: 20px;
    font-size: 20px;
}

.middle-section-p{
    /* margin-top: -12px; */
    padding-bottom: 70px;
}


/* Third Section CSS Code Starts From Here */

.third-section h1{
    text-align: center;
    font-size: 38px;
    /* color: #4450EB; */
    color: blue;
}

#third-section-p{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 60px;
}

/* Fourth Section CSS Code Starts From Here */

.fourth-section{
    display: flex;
}

.fourth-section h1{
    font-size: 25px;
}

.fourth-section p{
    margin-top: -7px;
}

.fifth-half-width{
    width: 40%;
    margin-left: 100px;
    /* margin-bottom: 80px; */
    padding-left: 20px;
    padding-bottom: 30px;
    border-left: 10px solid blueviolet;
    border-radius: 30px;
    box-shadow: 10px 10px 50px grey;
}

.fifth-half-width img{
    width: 95%;
    height: 320px;
    padding-left: 7px;
    margin-top: 26px;
    border-radius: 30px;
}

.sixth-half-width{
    width: 40%;
    margin-left: 100px;
    /* margin-bottom: 80px; */
    padding-left: 20px;
    padding-bottom: 30px;
    border-left: 10px solid blue;
    border-radius: 30px;
    box-shadow: 10px 10px 50px grey;
}

.sixth-half-width img{
    width: 95%;
    height: 320px;
    padding-left: 7px;
    margin-top: 26px;
    border-radius: 30px;
}