body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

span{
    color: orange;
}

/* Top Section CSS Code Starts From Here */

.top-section{
    display: flex;
    /* padding-bottom: 100px; */
}

.top-section h1{
    font-size: 50px;
}

.just-eat-healthy{
    margin-top: -30px;
}


.first-half-width{
    width: 50%;
}

.second-half-width{
    width: 50%;
}

.first-half-width{
    padding-left: 6%;
    /* padding-bottom: 500px;
    margin-bottom: 10%; */
    padding-bottom: 20%;
}

.second-half-width img{
    width: 90%;
    margin-top: 40px;
   
}

.adjust-height-h1{
    padding-top: 120px;
}

.top-section-link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 20px;
}

.top-section-link-button:hover{
    background-color: black;
    color: black;
    border-radius: 15px;
}

.top-section-p{
    margin-top: -12px;
    padding-bottom: 20px;
}


/* Middle Section CSS Code Starts From Here */

.middle-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -80px;
    margin-bottom: 80px;
    
}

.middle-section-font-adjust{
    padding-top: 120px;
}

.third-half-width{
    width: 50%;
}

.third-half-width img{
    width: 70%;
    margin-top: 50px;
    margin-left: 25%;
}

.fourth-half-width{
    width: 50%;
    margin-left: 130px;
}
.fourth-half-width h1{
    font-size: 35px;
}

.fourth-half-width p{
    text-align: justify;
}

.middle-section-link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 16px 40px;
    border-radius: 20px;
    font-size: 20px;
}

.middle-section-link-button:hover{
    background-color: black;
    color: black;
    border-radius: 15px;
}

.middle-section-p{
    /* margin-top: -12px; */
    padding-bottom: 70px;
}


/* Third Section CSS Code Starts From Here */

.third-section h1{
    text-align: center;
    font-size: 38px;
    /* color: #4450EB; */
    color: orange;
}

#third-section-p{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 60px;
}


/* Fourth Section CSS Code Starts From Here */

.fourth-section{
    display: flex;
    margin-bottom: 120px;
}

.fourth-section h1{
    font-size: 25px;
    padding-left: 10px;
}

.fourth-section p{
    margin-top: -7px;
    padding-left: 10px;
}

.fifth-half-width{
    width: 40%;
    margin-left: 100px;
    /* margin-bottom: 80px; */
    padding-left: 20px;
    padding-bottom: 30px;
    border-left: 10px solid orange;
    border-radius: 30px;
    box-shadow: 10px 10px 50px grey;
}

.fifth-half-width img{
    width: 95%;
    height: 320px;
    padding-left: 7px;
    margin-top: 26px;
    border-radius: 30px;
}

.sixth-half-width{
    width: 40%;
    margin-left: 100px;
    /* margin-bottom: 80px; */
    padding-left: 20px;
    padding-bottom: 30px;
    border-left: 10px solid blue;
    border-radius: 30px;
    box-shadow: 10px 10px 50px grey;
}

.sixth-half-width img{
    width: 95%;
    height: 320px;
    padding-left: 7px;
    margin-top: 26px;
    border-radius: 30px;
}


/* Fifth Section CSS Code Starts From Here */

.fifth-section{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 120px;
    border: 5px solid white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 70px grey;
}

.fifth-section p{
    margin-top: -15px;
    text-align: center;
    font-weight: bold;
} 

.fifth-section h1{
    text-align: center;
    font-size: 26px;
} 

.fifth-section a{
    text-decoration: none;
    color: black;
} 

.youtube-subscribers{
    width: 30%;
    padding-left: 35px;
}

.youtube-subscribers h1{
    color: #FF0000;
}

.instagram-followers{
    width: 30%;
    padding-left: 10px;
}

.instagram-followers h1{
    color: #5851DB;
}

.dribbble-likes{
    width: 30%;
}

.dribbble-likes h1{
    color: #B711AF;
}


/* Footer CSS Code Starts From Here */

.footer-section{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: black;
    
}

footer h2{
    text-align: center;
    font-size: 32px;
}
footer p{
    text-align: center;
    margin-top: -15px;
    color: #C8C3C2;
}
#footer-span-1{
    color: #F47D34;
}
#footer-span-2{
    color: #5CDF2A;
}

#footer-copyright-p{
    color: #F7403D;
}


/* Hover Effect */

/* .fifth-section div:hover{
    padding: 10px 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #F96D62;
    border-radius: 30px;
} */

.hover-1:hover{
    padding: 10px 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #F38484;
    border-radius: 15px;
    /* border: 3px solid red; */
}

.hover-2:hover{
    padding: 10px 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #54DEEF;
    border-radius: 15px;
    /* border: 3px solid red; */
}

.hover-3:hover{
    padding: 10px 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #F57CF7;
    border-radius: 15px;
    /* border: 3px solid red; */
}



